!!! 5
html
  include header
  body
    block content
    script(src='/js/jquery-1.8.2.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/space_invaders.js')
    script(src='/js/player.js')
    script(src='/js/enemies.js')
    script(src='/js/projectile.js')
